@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}
h1 {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
li {
  list-style-type: none;
}

#add-jeu-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add-jeu-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

#add-jeu-form input,
#add-jeu-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-jeu-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-jeu-form button:hover {
  background-color: #0056b3;
}
